# exclude everything
corrections/particle_based
corrections/particle_based_final
corrections/FE_particle
outputs/*
meshes/*.xml
meshes/*.msh
meshes/*.mesh*
meshes/meshWithExpReal.log
*.npy
meshes/*_test
__pycache__
advection_diffusion_original.py
advection_diffusion_mixed_flat.py
advection_diffusion_ellipse.py

# exceptions to the rule
!outputs/.gitkeep 
!corrections/outputs/.gitkeep
!meshes/exp_boundary_sigma0.1_gamma1.xml
!meshes/exp_boundary_sigma0.1_gamma1_facet_region.xml